.formContainer {
  background-color: rgb(99, 141, 183);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #222226;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      height: 100px;
    }

    .title {
      color: white;
      font-size: 25px;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 10px;

      input {
        padding: 8px;
        border: none;
        border-radius: 10px;
        width: 250px;
        background-color: #a7bcff;
        font-size: medium;
        font-weight: 400;
        &::placeholder {
          color: rgb(60, 57, 57);
        }
        &:focus {
          outline: none;
          caret-color: rgb(3, 3, 84);
        }
      }
      button {
        background-color: #7b33ff;
        border-radius: 10px;
        color: white;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor: pointer;
      }

      .errorMsg {
        color: red;
        font-weight: 400;
        padding: 0px 50px;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #817fb7;
      font-size: 15px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: rgb(99, 141, 183);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid white;
    width: 99%;
    height: 98%;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
  }

  .sidebar {
    flex: 2;
    background-color: #222226;
    position: relative;

    .navbar {
      display: flex;
      align-items: center;
      background-color: #222226;
      height: 50px;
      padding: 10px;
      justify-content: space-between;
      color: #ddddf7;

      .logo img {
        height: auto;
        width: 80px;
      }
      .user {
        display: flex;
        gap: 10px;

        img {
          background-color: #ddddf7;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          object-fit: cover;
        }
        .logout {
          height: 20px;
          width: 20px;
          background-color: #2f2d52;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
    .search {
      // border-bottom: 1px solid rgb(173, 168, 168);
      padding: 5px;

      .searchForm {
        padding: 10px;
        height: 30px;
        input {
          background-color: rgba(255, 255, 255, 0.128);
          border-radius: 30px;
          padding-left: 10px;
          border: none;
          color: white;
          outline: none;
          width: 95%;
          height: 100%;
          justify-content: center;

          &::placeholder {
            color: lightgray;
            font-size: 1rem;
            gap: 10px;
          }
        }
      }
    }

    hr {
      width: 90%;
    }
    .chats {
      height: calc(100% - 180px);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .userChat {
      padding: 5px 10px;
      display: flex;
      margin: 5px;
      background-color: #5d92ee1f;
      border-radius: 30px;
      align-items: center;
      gap: 10px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #2a53db;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .userChatInfo {
        span {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          font-size: 14px;
          color: rgb(225, 225, 225);
          margin-top: 5px;
        }
      }
    }

    footer {
      color: grey;
      font-size: small;
      padding: 8px;
    }
  }

  .startChat {
    flex: 5;
    background-color: #390053f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 60%;
      height: auto;
    }

    span {
      color: white;
    }
  }

  .chatArea {
    flex: 5;
    background-color: #222226;
    position: relative;

    .chatHeader {
      height: 50px;
      background-color: #222226;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: lightgray;
    }

    .chatInfo {
      padding: 0px 10px;
      display: flex;
      .avatar {
        background-color: #ddddf7;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 23px;
        font-weight: 500;
        padding: 0px 10px;
      }
    }
    .chatIcons {
      display: flex;
      gap: 10px;
      margin-right: 20px;

      img {
        height: 30px;
        cursor: pointer;
      }
    }

    .message {
      display: flex;
      gap: 10px;

      .messageInfo {
        display: flex;
        flex-direction: column;
        font-size: x-small;
        color: rgb(183, 176, 176);
        font-weight: 400;
        padding-top: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .messageContent {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          background-color: #514672;
          padding: 10px 20px;
          border-radius: 0px 10px 10px 10px;
          max-width: max-content;
          margin-bottom: 10px;
          margin-top: 10px;
          color: white;
          font-size: large;
        }
        img {
          width: 60%;
          border: 3px solid #514672;
          border-radius: 5px;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .captionedImg {
          width: 60%;
          margin-top: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
          background-color: #514672;
          padding-right: 6px;

          img {
            width: 100%;
            margin: 0;
          }

          p {
            margin-top: 0px;
            padding: 0px 10px;
          }
        }
      }

      &.self {
        flex-direction: row-reverse;

        .messageContent {
          align-items: flex-end;

          p {
            background-color: #5b1dcf;
            color: white;
            border-radius: 10px 0px 10px 10px;
          }

          img {
            border: 3px solid #5b1dcf;
            width: 60%;
          }

          .captionedImg {
            background-color: #5b1dcf;
            padding-right: 6px;

            img {
              width: 100%;
              margin: 0;
            }

            p {
              margin-top: 0px;
              padding: 0px 10px;
            }
          }
        }
      }
    }

    // .overlapSection {
    //   position: relative;
    //   width: 100%;
    // }

    .messages {
      background-color: #645c7c29;
      border-radius: 15px;
      margin: 2px;
      padding: 10px;
      height: calc(100% - 160px);
      overflow-y: scroll;
      // position: fixed;
      // top: 75px;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: #a1a0d2;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #7776bc;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:active {
        background: #676596;
        border-radius: 20px;
      }
    }
    // .emojiPicker {
    //   z-index: 10;
    //   position: absolute;
    //   bottom: -510px;
    //   left: 10px;
    // }

    .input {
      height: 40px;
      width: -webkit-fill-available;
      background-color: rgba(255, 255, 255, 0.128);
      border-radius: 30px;
      margin: 3px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      // position: fixed;
      // bottom: 5px;

      .emojiTray {
        position: absolute;
        height: 450px;
        bottom: 27px;

        .emojiIcon {
          height: 35px;
          cursor: pointer;
          position: absolute;
          bottom: -10px;
        }

        .emoji-picker-react {
          position: absolute;
        }
      }

      textarea {
        width: 100%;
        margin-left: 40px;
        height: 36px;
        border: none;
        outline: none;
        resize: none;
        background-color: transparent;
        color: white;
        font-size: 18px;
        justify-content: center;

        &::-webkit-scrollbar {
          display: none;
        }

        &::placeholder {
          color: lightgray;
        }
      }

      .send {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          height: 30px;
          cursor: pointer;
        }

        button {
          border: none;
          padding: 0px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          color: white;
          background-color: #5770c2;
          cursor: pointer;

          &:hover {
            background-color: #2d51c7;
          }

          img {
            width: 28px;
            height: 28px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
